body {
    background-color: red;
    width: 100%; max-width: 1000; margin: 0 auto;
    font-family: 'Arima Madurai', cursive;
    
    
}


h1 {
    text-align: center;
}
h2 {
    color: #8b0000;
}

h3 {
    color: #8b0000;
}

    .header img {
  display:block;
        margin-left: auto;
        margin-right: auto;
  float: center;
  width: 100px;
  height: 100px;
  background: red;
}
.block_1, .block_2 {
	background-color: whitesmoke;
}
.block_2 {
	overflow: hidden;
}

.bold {
    font-weight: bold
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
   .r1bdr {
    padding: 0em;
    border: 0.1em solid #8b0000;
    margin: 0.1em;
    width: 20%;
    float: left;
    box-sizing: border-box;
    

}
.r2bdr {
    padding: 0em;
    border: 0.1em solid #8b0000;
    margin: 0.1em;
    width: 20%;
    float: right;
    box-sizing: border-box;
    text-align: justify;
    text-justify: auto;
    
    

}
#ds{
    text-align: right;
    margin-right: 5%

}


